extends base.pug 

block scripts  
    script
      include ../static/index.js
      
block style 
    style
      include ../static/style.css
      include ../static/styleAbout.css

block content 
    h1 About us
    div.about 
        p For fifty years Ballet Hispánico has been the leading voice intersecting artistic excellence and advocacy, and is now the largest Latinx cultural organization in the United States and one of America’s Cultural Treasures. Ballet Hispánico brings communities together to celebrate and explore Latino cultures through innovative dance productions, transformative dance training, and enduring community engagement experiences.
        p National Medal of Arts recipient Tina Ramirez founded Ballet Hispánico in 1970, at the height of the post-war civil rights movements. From its inception Ballet Hispánico focused on providing a haven for Black and Brown Latinx youth and families seeking artistic place and cultural sanctuary. By providing the space for Latinx dance and dancers to flourish, Ballet Hispánico uplifted marginalized emerging and working artists, which combined with the training, authenticity of voice, and power of representation, fueled the organization’s roots and trajectory. In 2009, Ballet Hispánico welcomed Eduardo Vilaro as its Artistic Director, ushering in a new era by inserting fresh energy to the company’s founding values and leading Ballet Hispánico into an artistically vibrant future. Today, Ballet Hispánico’s New York City headquarters house a School of Dance and state-of-the-art dance studios for its programs and the arts community. From its grassroots origins as a dance school and community-based performing arts troupe, for fifty years Ballet Hispánico has stood as a catalyst for social change.
        p Ballet Hispánico provides the physical home and cultural heart for Latinx dance in the United States. Ballet Hispánico has developed a robust public presence across its three main programs: its Company, School of Dance, and Community Arts Partnerships.
        p Through its exemplary artistry, distinguished training program, and deep-rooted community engagement efforts Ballet Hispánico champions and amplifies underrepresented voices in the field. For fifty years Ballet Hispánico has provided a place of honor for the omitted, overlooked, and oppressed. As it looks to the next fifty years and beyond, Ballet Hispánico seeks to empower, and give agency to, the Latinx experience and those individuals within it.
    
    div#container 
        div.box#img11 
            h2 We are the best
            img(src="/static/pics/ty.png", alt="img not found") 
            p With an aim to provide quality dance training and making dance available to all, Sumedh dance classes run throughout the year at multiple locations for students from ages four to eighty four providing them with training in various dance styles by Sumedh’s expert faculty. The classes give them an opportunity to learn dance, express themselves creatively and perform on stage. Classes are available for children (4 to 6 years), juniors (7 to 11 years) and adults (12 years onwards).
        div.box#img22 
            h2 Diversity, Equity, and Inclusion Principles
            img(src="/static/pics/jr.png", alt="img not found") 
            p Ballet Hispánico is an organization that has served BIPOC communities since its inception. At this pivotal moment in the racial justice movement, we too have a responsibility to look within and challenge areas in our organization that are affected by white supremacy and racial inequality. We stand by our original mission and its principles and will deepen each commitment in our daily practice.
        div.box#img33 
            h2 History
            img(src="/static/pics/er.jpg", alt="img not found") 
            p Recognized for her achievements by the National Medal of Arts, the nation’s highest cultural honor, Tina Ramirez founded Ballet Hispánico in 1970. From its grassroots origins as a dance school and community-based performing arts troupe, the organization has grown into a world-class institution. Ballet Hispánico’s New York City headquarters houses a School of Dance and state-of-the-art dance studios for its programs and the arts community.
        div.box#img4 
            h2 Leadership Legacy
            img(src="/static/pics/tt.webp", alt="img not found") 
            p Ms. Ramirez was born in Venezuela, the daughter of a Mexican bullfighter and grandniece to a Puerto Rican educator who founded the island’s first secular school for girls. Her performing career included international touring with the Federico Rey Dance Company, the Broadway productions of Kismet and Lute Song and the television adaptation of Man of La Mancha.In recognition of her enduring contributions to the field of dance, Ms. Ramirez received the National Medal of Arts, the nation’s highest cultural honor, in 2005. Juilliard awarded her an honorary degree, Doctor of Fine Arts, in 2018.

 
        div.box#img5 
            h2 Support BIPOC Communities | 
                | Black Lives Matter | Stop Asian Hate
            img(src="/static/pics/yi.jpg", alt="img not found") 
            p Black Lives Matter.Ballet Hispánico was born in New York City at a time when the city was burning, literally and figuratively, in the 1970s. Our black and brown communities were left to fend for ourselves in the harsh realities of the streets. We developed ways of coping and celebrating, and dance became an expression of activism. While deplorable brutalities were occurring on the streets, hip hop was born of black and brown voices.Ballet Hispánico’s founding was about giving voice to that marginalized, often-forgotten community. It was, and is still, a glorious vision that demands there are seats at the table for Latinx people in the arts. 
        div.box#img6 
            h2 America's Cultural Treasure
            img(src="/static/pics/L.png", alt="img not found") 
            p Ballet Hispánico is committed to its founding mission of access, diversity, and inclusion. On September 24, 2020, after 50 years of living that legacy, Ballet Hispánico was recognized with an award by a consortium of funders led by the Ford Foundation naming us one of America’s Cultural Treasures.The Ford Foundation spearheaded this initiative in collaboration with 16 donors and funders from across the country to support Black, Latinx, Asian, and Indigenous arts organizations in response to the COVID-19 pandemic. Twenty organizations across the country received unrestricted grants of between $1 million and $6 million--Ballet Hispánico is receiving $4.5 million over four years.

 
            


