doctype html
html
  head
    title Sumedh's Dance Academy
    block scripts
    block style 
         
       
  body
    nav#navbar 
        ul
            div#logo 
                img(src="../static/pics/L.png", alt="") 
                | SDA
            li #[a(href="/") Home]
            li #[a(href="/about") About] 
            li #[a(href="/rules") Rules]
            li #[a(href="/info") Class info]
            li #[a(href="/contact") Contact us]
    block content
    block foot
      #footer
        | Copyrights © 2022 SumedhDanceAcademy.com | All rights Reserved 