doctype html
html
  head
    title Sumedh's Dance Academy
    style
      include ../static/style.css
  body
    nav#navbar 
        ul
            div#logo 
                img(src="../static/pics/L.png", alt="") 
                | SDA
            li #[a(href="/") Home]
            li #[a(href="/") About] 
            li #[a(href="/") Services]
            li #[a(href="/") Class info]
            li #[a(href="/") Contact us]
    section#introsection 
        div.clr Welcome to Sumedh's Dance Academy 
        div.clr Eat Sleep Dance Repeat!

    section#missionnsection 
        h2 -Our Rules-
        div.cards#img1
            p Wait until the music stops. 
        div.cards#img2
            p  Always stand behind the teacher 
        div.cards#img3
            p The front row is for the oldest dancers. 


    section#sponsorssection 
        h2 Our Sponsors 
        div#sponsors
            img(src="../static/pics/img1.webp", alt="Sponsor image" Class="spimg")
            img(src="../static/pics/img2.png", alt="Sponsor image" Class="spimg")
            img(src="../static/pics/img3.png", alt="Sponsor image" Class="spimg")
            img(src="../static/pics/img5.webp", alt="Sponsor image" Class="spimg")
    

    footer#footer 
        | Copyrights © 2022 SumedhDanceAcademy.com | All rights Reserved 
    script
      include ../static/index.js