extends base.pug 

block scripts  
    script
      include ../static/index.js
      
block style 
    style
      include ../static/style.css
      include ../static/styleInfo.css
      

block content 
    div.info 
        h1 Class Information 
        h2 CLASS PLACEMENT
        div.box2#img-1
            img(src="/static/pics/CP.jpg", alt="img not found") 
            p At American Dance Academy, all students receive personal placement into classes based upon age and general level of ability.  This is determined by progress in dance technique rather than grade level in school.  All class placements are tentative and subject  to change during September - our "placement month."  This allows  instructors adequate time to assess the student's abilities and potential to ensure that each child is enrolled in the class best suited for his/her needs. 

        h2 OBSERVING CLASSES
        div.box2#img-2
            img(src="/static/pics/OC.jpg", alt="img not found") 
            p Parents may watch classes at the classroom window.  Occasionally the  instructor may close the blinds at the beginning of class to help dancers focus and concentrate without distraction.   At specific times the instructor will have parents come in to provide an audience for the dancers.  The dancers are always excited to show their parents their accomplishments.  Please note that parents and visitors must obtain  permission before entering a class or private lesson

        h2 STUDENT POLICY
        div.box2#img-3
            img(src="/static/pics/SP.webp", alt="img not found") 
            p The Academy, faculty, and staff reserve the right to remove any student from class without recourse for failure to observe the rules of conduct.   We expect proper discipline and conduct at all times and will dismiss any student who does not adhere to this policy.  The Academy maintains  proper safeguards at all times, but makes no representations, either expressed or implied, regarding physical capabilities of any student.   The Academy is not responsible for injuries sustained on the premises or  while traveling to and from its facilities.  It is the parent's  responsibility to obtain appropriate accident, health/hospitalization or  other insurance for injury.

        h2 CLASS CANCELLATIONS
        div.box2#img-4
            img(src="/static/pics/CC.jpg", alt="img not found") 
            p In the event of inclement weather, the Academy follows the public school  closings for the studio area.  We will post a message on the website, social media and email parents regarding class cancellations.This allows  instructors adequate time to assess the student's abilities and potential to ensure that each child is enrolled in the class best suited for his/her needs.