extends base.pug 

block scripts  
    script
      include ../static/index.js
      
block style 
    style
      include ../static/style.css
      include ../static/styleRules.css
      

block content 
    h1 Academic Rules 
    div#rules \
        div.cnt#para1 
            h2 CLASS RULES
            p The rules of the dance class are designed to promote a better dance experience for everyone.  By following and enforcing these rules, we will be able to keep our dance environment and dancers safe.  Thank you for your cooperation in this matter.
                ul 
                    li 1. Parents are not allowed into the classroom unless requested by the teacher.  The instructor is trained to encourage a shy child until  comfortable joining  in the class.With patience, it usually takes a lesson or two for your child to discover the joy of dance.  

                    li 2. Siblings should stay in the lobby at all times.  Please keep the noise to a minimum to avoid disrupting the class.  Please bring something for them to quietly play with while waiting, if necessary
                    li 3. No food, pop, or gum chewing in the studio.  We would  like to avoid gum or spills on dance shoes, clothes, floors, or cubbies.  It is important to avoid damage to the studio dance floors as well as the dancer's shoes.
        div.cnt#para2 
            h2 SAFETY RULES
            p The following safety rules have been created to ensure the well being of our students during their dance instruction.    
            ul 
            
                li 1. Students must wear cover-up clothes when entering and leaving American Dance Academy.

                li 2. Do not allow your children to wait outside unattended for parents to pick-up after classes.
                li 3. Parents need to inform the office staff if a dancer is to be picked-up by someone other than the usual arrangement, or if more than 15 minutes late for pick-up.
                li 4. Students need to call their parents and inform the office prior to  changing their plans, such as leaving with a friend to go home.
                li 5. Make staff aware of anyone unfamiliar who enters the dance studio.   Students should inform the teacher and office immediately of anything  unusual happening.